/* General */

/* Hind Madurai Font */
.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    box-sizing: border-box;
}


/* NAV BAR */
.nav-bar{
    max-width: 1920px;
    margin: 0px auto;
    height: 100px;
    /* background-color: cyan; */
    /* border: 4px red dashed; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-logo{
    max-width: 196px;
    height: 52px;
    /* border: 2px tomato solid; */
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 25px;

    display: flex;
    gap: 10px;
    align-items: center;
}

.name-logo p{
    color: rgba(0, 103, 71, 1);
    font-weight: bolder;
    font-size: 1.5rem;
}

.nav-gov-logo{
    height: 50px;
    width: 50px;
}

.nav-right-plane{
    /* border: 2px blue dashed; */
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.heart-logo{
    height: 30px;
    width: 30px;
}

.heart-count{
    background-color: rgba(65, 255, 107, 0.1);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 30px;
    border-radius: 50px;
    padding: 12px;
    /* border: 2px green dashed; */
}

.heart-count p{
    font-size: 1rem;
    font-weight: bold;
}

.coin-logo{
    height: 30px;
    width: 30px;
}

.coin-count{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 255, 107, 0.1);
    width: 123px;
    height: 30px;
    border-radius: 50px;
    padding: 12px;
}

.coin-count p{
    font-size: 1rem;
    font-weight: bold;
}

.copy-count{
    background-color: rgba(0, 166, 62, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 123px;
    height: 30px;
    border-radius: 50px;
    padding: 12px;
}

.copy-count p{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}


/* Hero Section */

.hero-section{
    border: 4px black dashed;
    max-width: 1920px;
    height: 239px;
    background: radial-gradient(circle, #006747, #013223);
    display: flex;
    gap: 11px;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 21px 0px 21px 0px;
    margin: 0px auto;
}

.hero-logo{
    height: 92px;
    width: 92px;
    /* border: 2px white dashed; */
    /* margin: 0px; */
}

.hero-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    /* border: 2px red dashed; */
    margin: 0px;
}

.hero-description{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px;
    color: white;
}

/* Main Section */

.main-section{
    background-color: #f2f5f4;
    max-width: 1800px;
    display: flex;
    gap: 30px;
    border: 4px blue solid;
    margin: 0px auto;
    justify-content: center;
}

.card-section{
    /* max-width: 1370px; */
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-item{
    background-color: white;
    padding: 32px;
    border-radius: 12px;
}

.card-top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.card-icon-container{
    background-color: rgba(255, 227, 226, 1);
    height: 60px;
    width: 60px;
    border-radius: 16px;
}

#police-container-color{
    background-color: rgba(223, 239, 255, 1);
}

.icon{
    width: 30px;
    height: 30px;
    margin: 14px;
}

.card-title{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0px;
}

.card-description{
    margin: 0px;
    margin-bottom: 24px;
}

.dialing-number{
    margin: 0px;
    font-size: 1.875rem;
    font-weight: bold;
}

.service-category{
    background-color: rgba(242, 242, 242, 1);
    font-size: 1.125rem;
    height: 32px;
    width: 80px;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    margin: 0px 0px 16px 0px;
}

.card-button-section{
    display: flex;
    gap: 8px;
    max-width: none;
    width: 100%;
    /* border: 2px green dashed; */
}
.card-button{
    flex: 1;
    max-width: none;
    height: 40px;
    border-radius: 8px;
    border: none;
}

.call-button{
    background-color: rgba(0, 166, 62, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.copy-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

/* History Section */

.history-section{
    background-color: white;
    border: 2px green dashed;
    padding: 24px;
    border-radius: 12px;
    width: 25%;
}

.history-title{
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 136px;
}

.history-top-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-top-section button{
    background-color: rgba(0, 166, 62, 1);
    height: 52px;
    border-radius: 50px;
    min-width: 114px;
    color: white;
    font-weight: bold;
    border: none;
}

.history-title h4{
    font-size: 1.125rem;
    font-weight: bold;
}


/* Responsiveness */

@media screen and (max-width: 768px) {
  .main-section {
    flex-direction: column;
    align-items: center;
  }

  .card-section {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .history-section {
    width: 100%;
    margin-top: 20px;
  }

  .hero-logo{
    /* display: none; */
    width: 60px;
    height: 60px;
  }

  .hero-title {
    font-size: 1.75rem;
    text-align: center;
  }

  .hero-description {
    font-size: 1rem;
    text-align: center;
  }


  .nav-bar {
    flex-direction: column;
    height: auto;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

  .name-logo{
    /* border: 2px dashed red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px auto;
    padding: 5px;
    height: auto;
    width: auto;
  }

  .name-logo p{
    font-size: 1.1rem;
    /* border: 2px solid yellow; */
  }

  .nav-gov-logo{
    /* border: 2px solid blue; */
    height: 60px;
    width: 60px;
  }

  .nav-right-plane {
    /* border: 2px solid brown; */
    margin: 0px auto;
  }

  .heart-count{
    width: auto;
  }

  .coin-count{
    width: auto;
  }

  .copy-count{
    width: auto;
  }
}
